server {
    listen 127.0.0.1 7000

    root /Users/mouassit/Desktop/Webserv
    server_name test.com www.test.com

    error_page 500 ./error_pages/500.html
    error_page 403 ./error_pages/403.html

    max_body_size 1

    location /kapouet [
        allowed_methods POST DELETE GET
        root /Users/mouassit/Desktop/Webserv/tmp/www
        cgi py /usr/bin/python
        cgi php ./bin/php-cgi

    ]
}