server {
	listen 	localhost 80
	server_name	localhost
	error_page	401 ./custom_pages/401.html
	accepted_methods GET POST DELETE
	root /var/www/html
	autoindex on
	index index.html

	location / {
		error_page	407 ./custom_pages/407.html
		accepted_methods GET POST DELETE
		root /Users/mouassit/Desktop/Webserv
		autoindex on
		index index.html
	}
}